<div *ngIf="auth.user$ | async as user" class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="emp_job_post jb_cover">
          <div class="emp_job_side_img">
            <i class="fas fa-hand-holding"></i>
          </div>
          <div class="emp_job_side_text">
            <h1>{{ user?.invitations >= 1 ? user?.invitations : "No" }}</h1>
            <p>invitation{{ user?.invitations > 1 ? "s" : "" }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="emp_job_post jb_cover">
          <div class="emp_job_side_img greens">
            <i class="fas fa-envelope-open-text"></i>
          </div>
          <div class="emp_job_side_text">
            <h1>{{ user?.applications >= 1 ? user?.applications : "No" }}</h1>
            <p>job{{ user?.applications > 1 ? "s" : "" }} applied</p>
          </div>
        </div>
      </div>
      <!-- <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="emp_job_post jb_cover">
          <div class="emp_job_side_img parts">
            <i class="fas fa-envelope-open-text"></i>
          </div>
          <div class="emp_job_side_text">
            <h1>1,608</h1>
            <p>favourite jobs</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>

  <div class="col-12">
    <div class="job_filter_category_sidebar jb_cover">
      <div class="job_filter_sidebar_heading jb_cover">
        <h1>basic information</h1>
      </div>
      <div class="job_overview_header jb_cover">
        <div class="jp_listing_overview_list_main_wrapper jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fas fa-briefcase"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>profession:</li>
              <li>{{ user?.profession }}</li>
            </ul>
          </div>
        </div>
        <div class="jp_listing_overview_list_main_wrapper dcv jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fas fa-globe"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>sector:</li>
              <li>{{ user?.sector }}</li>
            </ul>
          </div>
        </div>
        <div class="jp_listing_overview_list_main_wrapper jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>address:</li>
              <li>{{ user?.address }}</li>
            </ul>
          </div>
        </div>
        <div class="jp_listing_overview_list_main_wrapper jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>phone:</li>
              <li>
                <a href="tel:+{{ user?.phone }}">{{ user?.phone }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="jp_listing_overview_list_main_wrapper jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>email:</li>
              <li>
                <a href="mailto:{{ user?.email }}">{{ user?.email }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
