<div class="col-12">
  <div class="job_main_overflow jb_cover">
    <div class="latest_job_overlow jb_cover">
      <div class="manage_jobs_wrapper jb_cover">
        <div class="job_list mange_list applications_recent">
          <h6>
            All Employers
            <span class="cp float-right" (click)="toggleSearch()">
              <i
                class="fa"
                [ngClass]="{ 'fa-search': !showSearch, 'fa-close': showSearch }"
              ></i>
            </span>
          </h6>
        </div>
      </div>

      <div
        class="form-group comments_form mx-auto mb-3"
        [ngClass]="{ 'd-none': !showSearch }"
      >
        <input
          type="text"
          class="form-control require"
          name="full_name"
          placeholder="Search"
        />
        <div class="header_btn search_btn jb_cover mb-3">
          <!-- <a href="" class="mb-3"> Filter </a> -->
          <span class="mt-3">
            <span class="mr-3">Search by: </span>
            <div class="form-check-inline">
              <label class="form-check-label search-label cp">
                <input
                  type="radio"
                  class="form-check-input"
                  [(ngModel)]="searchType"
                  value="name"
                  name="searchType"
                />Name
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label search-label cp">
                <input
                  type="radio"
                  class="form-check-input"
                  [(ngModel)]="searchType"
                  value="job"
                  name="searchType"
                />Job
              </label>
            </div>
            <div class="form-check-inline">
              <label class="form-check-label search-label cp">
                <input
                  type="radio"
                  class="form-check-input"
                  [(ngModel)]="searchType"
                  value="email"
                  name="searchType"
                />Sector
              </label>
            </div>
          </span>
          <a href="" class="float-right mb-3"> Search </a>
        </div>
      </div>

      <div
        *ngFor="let c of employers | async"
        [routerLink]="['/', 'dashboard', 'employer', c.email]"
        class="latest_job_box jb_cover cp"
      >
        <div class="cp job_list recent_app_1">
          <div class="recent_img">
            <img
              src="https://www.gravatar.com/avatar/{{ c.email }}?d=retro"
              alt="post_img"
            />
          </div>
          <div class="recent_cntnt">
            <h6>
              <a>{{ c.fname }} {{ c.lname }}</a>
            </h6>
            <ul>
              <li><i class="fas fa-user-tie"></i>&nbsp; {{ c.jobTitle }}</li>
              <li>
                <i class="fa fa-building"></i>&nbsp;
                {{ c.company }}
              </li>
              <li>
                <i class="flaticon-location-pointer"></i>&nbsp;
                {{ c.address }}
              </li>
            </ul>
          </div>
        </div>

        <div class="job_list_next recent_app_1">
          <div class="header_btn search_btn jb_cover">
            <a href="tel:{{ c.phone }}" class="float-right mr-4 mb-3">
              Call
              <i class="ml-1 fas fa-phone"></i>
            </a>
            <a href="mailto:{{ c.email }}" class="float-right mr-4 mb-3">
              Send Mail
              <i class="ml-1 fas fa-envelope"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
