<!-- slider wrapper Start -->
<div class="main_slider_wrapper slider-area jb_cover">
  <div class="mains_slider_shaper">
    <img
      src="../../assets/images/slider_bg.png"
      class="img-responsive"
      alt="img"
    />
  </div>
  <div class="slider_small2_shape">
    <img
      src="../../assets/images/shape4.png"
      class="img-responsive"
      alt="img"
    />
  </div>
  <div class="slider_shape_smt bubble-1">
    <img
      src="../../assets/images/bubble.png"
      class="img-responsive"
      alt="img"
    />
  </div>
  <div
    id="carousel-example-generic"
    class="carousel slide"
    data-ride="carousel"
    data-interval="false"
  >
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="carousel-captions caption-1">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="content">
                  <div class="slider_shape_smt1 bubble-2">
                    <img
                      src="../../assets/images/bubble.png"
                      class="img-responsive"
                      alt="img"
                    />
                  </div>
                  <h2 data-animation="animated fadeInUp">
                    Recruit the<span> right </span>talents!
                  </h2>

                  <p data-animation="animated fadeInUp">
                    Find and recruit the right talent to power your business,
                    when and where you need them.
                  </p>
                  <div
                    data-animation="animated fadeInUp"
                    class="btn_hover slider_btn"
                  >
                    <a
                      *ngIf="!(auth.user$ | async)"
                      [routerLink]="['/', 'post_job']"
                      class="gc_main_navigation"
                      >Post a Job</a
                    >
                    <span *ngIf="auth.user$ | async as user">
                      <a
                        *ngIf="auth.isEmployer(user); else notEmployer"
                        [routerLink]="['/', 'dashboard', 'new_request']"
                        class="gc_main_navigation"
                        >Post a Job</a
                      >
                      <ng-template #notEmployer>
                        <a
                          [routerLink]="['/', 'dashboard']"
                          class="gc_main_navigation"
                          >Visit Dashboard</a
                        >
                      </ng-template>
                    </span>
                  </div>
                  <div
                    data-animation="animated fadeInUp"
                    class="slider_icon_list"
                  >
                    <ul>
                      <li>
                        <a><i class="fas fa-drafting-compass"></i></a>
                      </li>
                      <li>
                        <a><i class="fas fa-hammer"></i></a>
                      </li>
                      <li>
                        <a><i class="fas fa-tools"></i></a>
                      </li>
                      <li>
                        <a><i class="fas fa-toolbox"></i></a>
                      </li>
                      <li>
                        <a><i class="fas fa-truck-pickup"></i></a>
                      </li>
                      <!-- <li>
                        <a href="#"><i class="fab fa-apple"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-amazon"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-angular"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-th-large"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fas fa-blog"></i></a>
                      </li> -->
                    </ul>
                  </div>
                  <div class="clear"></div>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                <div class="slider_shape_sm3 bubble-3">
                  <img
                    src="../../assets/images/bubble.png"
                    class="img-responsive"
                    alt="img"
                  />
                </div>
                <div class="slider_side_img jb_cover">
                  <img
                    src="../../assets/images/slider_img.png"
                    class="img-responsive"
                    alt="img"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="slider_small_shape">
    <img
      src="../../assets/images/shape4.png"
      class="img-responsive"
      alt="img"
    />
  </div>
</div>
<!-- slider wrapper End -->

<!--services wrapper start-->
<div class="services_wrapper control_wrapper jb_cover">
  <div class="slider_small_shape44">
    <img
      src="../../assets/images/shape4.png"
      class="img-responsive"
      alt="img"
    />
  </div>
  <div class="counter_jbbb2 jb_cover">
    <img src="../../assets/images/line3.png" class="img-responsive" alt="img" />
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
        <div class="jb_heading_wraper">
          <h3>We are Popular Everywhere</h3>

          <p>Your next level Product development company assets</p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="jp_register_section_main_wrapper jb_cover">
          <div class="jp_regis_left_side_box_wrapper">
            <div class="jp_regis_left_side_box">
              <i class="flaticon-laptop"></i>
              <h4>I’m an employer</h4>
              <p>
                Registered employers are able to track<br />
                posted job offers while awaiting deployment...
              </p>
              <ul>
                <li>
                  <a
                    [routerLink]="[
                      '/',
                      'auth',
                      'sign_up',
                      { role: 'employer' }
                    ]"
                    class="price_btn regis_btn"
                  >
                    register as employer</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="jp_regis_right_side_box_wrapper">
            <div class="jp_regis_right_side_box">
              <i class="flaticon-doctor"></i>
              <h4>I’m an employee</h4>
              <p>
                Signed in candidates are able to view new <br />
                job offers while searching for jobs...
              </p>
              <ul>
                <li>
                  <a
                    [routerLink]="['/', 'auth', 'sign_up']"
                    class="price_btn regis_btn"
                    >register as employee</a
                  >
                </li>
              </ul>
            </div>
            <div class="jp_regis_center_tag_wrapper">
              <p>OR</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 pt-5">
    <div class="row mt-5">
      <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
        <div class="jb_heading_wraper">
          <h3>Flexible Recruitment Process</h3>

          <p>By partnering with us, you stand to benefit from...</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="services_content jb_cover">
          <img src="../../assets/images/c2.png" alt="img" />
          <h3><a href="#">flexible process</a></h3>
          <p>
            Whether you need to recruit a driver for a one-day driving, or 10
            Customer Service Advisors to staff your new contact centre, our
            recruiting process means you can quickly flex up or down in response
            to business demands
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="services_content jb_cover">
          <img src="../../assets/images/c5.png" alt="img" />
          <h3><a href="#">top-notch candidates</a></h3>
          <p>
            Our streamlined workforce placement process gives you direct access
            to top-notch, fully screened and appropriately qualified candidates,
            in every industry and at every level. It reduces time-to-hire, it’s
            more cost effective, and it delivers on-the-job success for the long
            term
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="services_content jb_cover">
          <img src="../../assets/images/c6.png" alt="img" />
          <h3><a href="#">temporary-to-permanent</a></h3>
          <p>
            If you’re worried about making the wrong hiring decision, our
            temp-to-perm option lets you see a candidate on-the-job. You’ll gain
            first-hand experience of their skills and capabilities, before you
            decide if you want to recruit them permanently
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="slider_small3_shape">
    <img
      src="../../assets/images/shape4.png"
      class="img-responsive"
      alt="img"
    />
  </div>
</div>
<!--services wrapper end-->

<!-- counter wrapper start-->
<div class="counter_wrapper counter_3_wrapper jb_cover">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="counter_mockup_design jb_cover">
          <img
            src="../../assets/images/mockup6.png"
            class="img-responsive"
            alt="img"
          />
        </div>
        <div class="counter_jbbb jb_cover">
          <img
            src="../../assets/images/line2.png"
            class="img-responsive"
            alt="img"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="counter_right_wrapper counter_index3_right jb_cover">
          <h1>Some Statistical Facts</h1>
          <div class="counter_width">
            <div class="counter_cntnt_box">
              <div class="count-description">
                <span class="timer">2500</span>
                <p class="con2">candidates employees</p>
              </div>
            </div>
          </div>
          <div class="counter_width">
            <div class="counter_cntnt_box">
              <div class="count-description">
                <span class="timer">9425</span>
                <p class="con2">happy employers</p>
              </div>
            </div>
          </div>
          <div class="counter_width">
            <div class="counter_cntnt_box">
              <div class="count-description">
                <span class="timer">9</span><span>+</span>
                <p class="con2">average rating</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- counter wrapper end-->

<!--popular wrapper start-->
<div class="popular_wrapper jb_cover">
  <div class="slider_small3_shape shapenew">
    <img
      src="../../assets/images/shape4.png"
      class="img-responsive"
      alt="img"
    />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1 col-md-12 col-sm-12">
        <div class="jb_heading_wraper">
          <h3>We are Popular Everywhere</h3>

          <p>Your next level Product development company assets</p>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="jp_register_section_main_wrapper jb_cover">
          <div class="jp_regis_left_side_box_wrapper">
            <div class="jp_regis_left_side_box">
              <i class="flaticon-laptop"></i>
              <h4>I’m an employer</h4>
              <p>
                Registered employers are able to track<br />
                posted job offers while awaiting deployment...
              </p>
              <ul>
                <li>
                  <a
                    [routerLink]="[
                      '/',
                      'auth',
                      'sign_up',
                      { role: 'employer' }
                    ]"
                    class="price_btn regis_btn"
                  >
                    register as employer</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="jp_regis_right_side_box_wrapper">
            <div class="jp_regis_right_side_box">
              <i class="flaticon-doctor"></i>
              <h4>I’m an employee</h4>
              <p>
                Signed in candidates are able to view new <br />
                job offers while searching for jobs...
              </p>
              <ul>
                <li>
                  <a
                    [routerLink]="['/', 'auth', 'sign_up']"
                    class="price_btn regis_btn"
                    >register as employee</a
                  >
                </li>
              </ul>
            </div>
            <div class="jp_regis_center_tag_wrapper">
              <p>OR</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--popular wrapper end-->
