<div *ngIf="employer | async as e" class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="job_listing_left_fullwidth jb_cover">
      <div class="row">
        <div class="col-12">
          <div class="jp_job_post_side_img">
            <img
              src="https://www.gravatar.com/avatar/{{ e.email }}?d=retro&s=98"
              alt="post_img"
            />
          </div>
          <div class="jp_job_post_right_cont">
            <h4>{{ e.fname }} {{ e.lname }}</h4>

            <ul>
              <li><i class="fas fa-briefcase"></i>&nbsp; {{ e.jobTitle }}</li>
              <li>
                <i class="flaticon-location-pointer"></i>&nbsp; {{ e.address }}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="emp_job_post jb_cover">
      <div class="emp_job_side_img">
        <i class="fas fa-book"></i>
      </div>
      <div class="emp_job_side_text">
        <h1>{{ (e.requests || 0) > 0 ? e.requests || 0 : "No" }}</h1>
        <p>job{{ (e.requests || 0) > 1 ? "s" : "" }} posted</p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 col-md-12 col-sm-12 col-12">
    <div class="emp_job_post jb_cover">
      <div class="emp_job_side_img parts">
        <i class="fas fa-envelope-open-text"></i>
      </div>
      <div class="emp_job_side_text">
        <h1>{{ (e.delivered || 0) > 0 ? e.delivered || 0 : "No" }}</h1>
        <p>applicant{{ (e.delivered || 0) > 1 ? "s" : "" }} delivered</p>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="job_filter_category_sidebar jb_cover">
      <div class="job_filter_sidebar_heading jb_cover">
        <h1>basic information</h1>
      </div>
      <div class="job_overview_header jb_cover">
        <div class="jp_listing_overview_list_main_wrapper jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fas fa-briefcase"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>job title:</li>
              <li>{{ e.jobTitle }}</li>
            </ul>
          </div>
        </div>
        <div class="jp_listing_overview_list_main_wrapper dcv jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fas fa-building"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>company:</li>
              <li>{{ e.company }}</li>
            </ul>
          </div>
        </div>
        <div class="jp_listing_overview_list_main_wrapper jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>address:</li>
              <li>{{ e.address }}</li>
            </ul>
          </div>
        </div>
        <div class="jp_listing_overview_list_main_wrapper jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>phone:</li>
              <li>
                <a href="tel:+{{ e.phone }}">{{ e.phone }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="jp_listing_overview_list_main_wrapper jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>email:</li>
              <li>
                <a href="mailto:{{ e.email }}">{{ e.email }}</a>
              </li>
            </ul>
          </div>
        </div>
        <div
          *ngIf="e?.proofURL != null"
          class="jp_listing_overview_list_main_wrapper jb_cover"
        >
          <div class="jp_listing_list_icon">
            <i class="fas fa-file"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>utility proof:</li>
              <li>
                <a href="{{ e?.proofURL }}" download>Download Utility Proof</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
