<!-- top header wrapper start -->

<!-- top header wrapper end -->
<!--employee dashboard wrapper start-->
<div class="candidate_dashboard_wrapper jb_cover mb-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-12 col-sm-12 col-12">
        <div class="emp_dashboard_sidebar jb_cover">
          <img
            src="https://www.gravatar.com/avatar/anon@wrks.com?d=retro&s=300"
            class="img-responsive"
            alt="post_img"
          />
          <div class="emp_web_profile candidate_web_profile jb_cover">
            <h4>Anonymous</h4>
            <p>
              @anon
            </p>
            <!-- <div class="skills jb_cover">
              <div class="skill-item jb_cover">
                <h6>profile<span>70%</span></h6>
                <div class="skills-progress">
                  <span data-value="70%"></span>
                </div>
              </div>
            </div> -->
          </div>
          <div class="emp_follow_link jb_cover">
            <ul class="feedlist logout_link jb_cover">
              <li>
                <a
                  [routerLink]="['/', 'auth']"
                  routerLinkActive="router-link-active"
                  class="cp"
                  ><i class="fas fa-power-off"></i> sign in
                </a>
              </li>
              <li>
                <a
                  [routerLink]="['/', 'auth', 'sign_up', {'role': 'employer'}]"
                  routerLinkActive="router-link-active"
                  class="cp"
                  ><i class="fas fa-power-off"></i> sign up
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-9 col-md-12 col-sm-12 col-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12">
            <div class="job_filter_category_sidebar pd0 jb_cover">
              <div class="job_filter_sidebar_heading jb_cover">
                <h1>post new job</h1>
              </div>
              <div
                [formGroup]="requestForm"
                class="job_overview_header jb_cover"
              >
                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>job title</label>
                      <input
                        type="text"
                        name="name"
                        placeholder="Need Graphic Designer"
                        formControlName="title"
                        [(ngModel)]="job.title"
                      />

                      <div *ngIf="formErrors.title" class="text-danger">
                        <small class="mr-1">{{ formErrors.title }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>your email</label>
                      <input
                        type="email"
                        name="owner"
                        placeholder="e.g your@email.com"
                        formControlName="owner"
                        [(ngModel)]="job.owner"
                      />

                      <div *ngIf="formErrors.owner" class="text-danger">
                        <small class="mr-1">{{ formErrors.owner }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>job description</label>
                      <input
                        type="text"
                        name="name"
                        placeholder="Need Graphic Designer"
                        formControlName="description"
                        [(ngModel)]="job.description"
                      />

                      <div *ngIf="formErrors.description" class="text-danger">
                        <small class="mr-1">{{ formErrors.description }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>number of workers</label>

                      <input
                        type="number"
                        min="1"
                        name="name"
                        placeholder="How many workers are needed?"
                        formControlName="no"
                        [(ngModel)]="job.no"
                      />

                      <div *ngIf="formErrors.no" class="text-danger">
                        <small class="mr-1">{{ formErrors.no }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="contect_form3 form-group">
                      <label>job sector</label>
                      <select
                        class="form-control"
                        formControlName="sector"
                        [(ngModel)]="job.sector"
                      >
                        <option *ngFor="let s of sectors" [value]="s">{{
                          s
                        }}</option>
                        <option [value]="null" disabled selected
                          >Select Sector</option
                        >
                      </select>

                      <div *ngIf="formErrors.sector" class="text-danger">
                        <small class="mr-1">{{ formErrors.sector }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>work location</label>
                      <input
                        type="text"
                        name="name"
                        placeholder="Need Graphic Designer"
                        formControlName="location"
                        [(ngModel)]="job.location"
                      />

                      <div *ngIf="formErrors.location" class="text-danger">
                        <small class="mr-1">{{ formErrors.location }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>work duration</label>
                      <input
                        type="text"
                        name="name"
                        placeholder="For how long would workers work?"
                        formControlName="duration"
                        [(ngModel)]="job.duration"
                      />

                      <div *ngIf="formErrors.duration" class="text-danger">
                        <small class="mr-1">{{ formErrors.duration }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>deadline</label>
                      <input
                        type="date"
                        name="name"
                        placeholder="40/h Week"
                        formControlName="expiryDate"
                        [(ngModel)]="job.expiryDate"
                      />

                      <div *ngIf="formErrors.expiryDate" class="text-danger">
                        <small class="mr-1">{{ formErrors.expiryDate }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>your fullname</label>
                      <input
                        type="text"
                        name="name"
                        placeholder="Your Fullname"
                        formControlName="ownerName"
                        [(ngModel)]="job.ownerName"
                      />

                      <div *ngIf="formErrors.ownerName" class="text-danger">
                        <small class="mr-1">{{ formErrors.ownerName }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>your phone number</label>
                      <input
                        type="email"
                        name="owner"
                        placeholder="your phone number"
                        formControlName="ownerPhone"
                        [(ngModel)]="job.ownerPhone"
                      />

                      <div *ngIf="formErrors.ownerPhone" class="text-danger">
                        <small class="mr-1">{{ formErrors.ownerPhone }}</small>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="contect_form3">
                      <label>your address</label>
                      <input
                        type="text"
                        name="name"
                        placeholder="Your Address"
                        formControlName="ownerAddress"
                        [(ngModel)]="job.ownerAddress"
                      />

                      <div *ngIf="formErrors.ownerAddress" class="text-danger">
                        <small class="mr-1">{{ formErrors.ownerAddress }}</small>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="text-danger text-center">
                  <small *ngIf="requestForm.invalid" class="d-block"
                    >Please check and fill all fields as appropriate</small
                  >
                  <small
                    *ngIf="requestForm.invalid && job.sector == null"
                    class="d-block"
                    >You have to select a job sector!</small
                  >
                </div>

                <div class="header_btn search_btn login_btn jb_cover">
                  <!-- <a class="mx-auto col-md-4">Sign Up</a> -->
                  <button
                    (click)="request()"
                    class="mx-auto col-md-4"
                    [disabled]="
                      requestForm.invalid || ['', null].includes(job.sector)
                    "
                    type="submit"
                  >
                    Post Job
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
