.search_btn button:disabled {
  background: gray !important;
}

.search_btn button:disabled::before {
  border: 1px solid gray !important;
}

.search_btn button:disabled:hover {
  color: white !important;
}

.cp {
  cursor: pointer!important;
}
