.search_btn button:disabled {
  background: gray !important;
}

button:disabled {
  cursor: not-allowed;
}

.search_btn button:disabled::before {
  border: 1px solid gray !important;
}

.search_btn button:disabled:hover {
  color: white !important;
}

.cp {
  cursor: pointer !important;
}

a.cp.link {
  color: gray !important;
  &:hover {
    color: #bf865d !important;
  }
}

.jp_listing_list_icon_cont_wrapper {
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /* Chrome & Safari */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* CSS3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}
