.search_btn button:disabled {
  background: gray !important;
}

button:disabled {
  cursor: not-allowed;
}

.search_btn button:disabled::before {
  border: 1px solid gray !important;
}

.search_btn button:disabled:hover {
  color: white !important;
}

.cp {
  cursor: pointer !important;
}

a.cp.link {
  color: gray !important;
  &:hover {
    color: #bf865d !important;
  }
}
