<div *ngIf="auth.user$ | async as user" class="row">
  <div class="col-12">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="emp_job_post jb_cover">
          <div class="emp_job_side_img">
            <i class="fas fa-book"></i>
          </div>
          <div class="emp_job_side_text">
            <h1>{{ user?.newRequests >= 1 ? user?.newRequests : "No" }}</h1>
            <p>new request{{ user?.newRequests > 1 ? "s" : "" }}</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="emp_job_post jb_cover">
          <div class="emp_job_side_img greens">
            <i class="fas fa-eye"></i>
          </div>
          <div class="emp_job_side_text">
            <h1>{{ (allReq-deliveredReq) >= 1 ? (allReq-deliveredReq) : "No" }}</h1>
            <p>pending request{{ (allReq-deliveredReq) > 1 ? "s" : "" }}</p>
            <!-- <h1>{{ employers >= 1 ? employers : "No" }}</h1>
            <p>employer{{ employers > 1 ? "s" : "" }}</p> -->
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="emp_job_post jb_cover">
          <div class="emp_job_side_img parts">
            <i class="fas fa-envelope-open-text"></i>
          </div>
          <div class="emp_job_side_text">
            <h1>{{ allReq >= 1 ? allReq : "No" }}</h1>
            <p>request{{ allReq > 1 ? "s" : "" }} in all</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="job_filter_category_sidebar jb_cover">
      <div class="job_filter_sidebar_heading jb_cover">
        <h1>basic information</h1>
      </div>
      <div class="job_overview_header jb_cover">
        <div class="jp_listing_overview_list_main_wrapper jb_cover">
          <div class="jp_listing_list_icon">
            <i class="fas fa-envelope"></i>
          </div>
          <div class="jp_listing_list_icon_cont_wrapper">
            <ul>
              <li>email:</li>
              <li>
                <a href="mailto:{{ user?.email }}">{{ user?.email }}</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
